/* 首页分类条展示 */
#category-bar {
    padding: 0.4rem 1rem 0.4rem 0.5rem;
    background: #fff;
    border-radius: 12px;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 1rem;
    border: 1px solid var(--heo-card-border);
    transition: 0.3s;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
}
  
@media screen and (max-width: 768px) {
    #category-bar{
        border-radius: 0;
    }
}
  
#category #category-bar {
    padding: 0;
    border: none;
    box-shadow: none;
}
  
#category a.category-bar-item.select a {
    display: none;
}
  
.category-in-bar {
    display: flex;
    white-space: nowrap;
    align-items: center;
}
  
.category-in-bar-tips {
    margin-right: 1rem;
    margin-top: 16px;
}

.category-in-bar #category-bar {
    margin-bottom: 0;
}

.category-bar-items {
    white-space: nowrap;
    overflow-x: scroll;
    display: flex;
}
  
.category-bar-items::-webkit-scrollbar {
    display: none;
}
  
.category-bar-item a {
    padding: 0.1rem 0.5rem;
    margin: 0 4px;
    font-weight: bold;
    border-radius: 8px;
}
  
.category-bar-item:hover a {
    background: var(--heo-main);
    color: var(--heo-white);
}
  
.category-bar-item.select a {
    background: #425AEF;
    color: #fff;
    border-radius: 8px;
}
  
.category-bar-more {
    margin-left: 1rem;
    font-weight: bold;
}

.category-in-bar .category-in-bar-tips {
    margin-bottom: 0;
}