/* 首页文章卡片 */
#recent-posts > .recent-post-item {
    background: rgba(255, 255, 255);
}
[data-theme="dark"]
#recent-posts > .recent-post-item {
    background: rgba(255, 255, 255, 5%);
}

/* 文章页面正文背景 */
div#post {
    background: rgba(255, 255, 255);
    font-size: 15px;
}
[data-theme="dark"]
div#post {
    background: rgba(255, 255, 255, 5%);
}

/* 分页页面 */
div#page {
    background: rgba(255, 255, 255);
}
[data-theme="dark"]
div#page {
    background: rgba(255, 255, 255, 5%);
}

/* 归档页面 */
div#archive {
    background: rgba(255, 255, 255);
}
[data-theme="dark"]
div#archive {
    background: rgba(255, 255, 255, 5%);
}

/* 标签页面 */
div#tag {
    background: rgba(255, 255, 255);
}
[data-theme="dark"]
div#tag {
    background: rgba(255, 255, 255, 5%);
}

/* 分类页面 */
div#category {
    background: rgba(255, 255, 255);
}
[data-theme="dark"]
div#category {
    background: rgba(255, 255, 255, 5%);
}

/* 页脚透明 */
/* #footer {
    background: transparent!important;
} */

/* 头图遮罩层透明 */
#page-header::before{
    background: transparent!important;
}


.read-mode #aside-content .card-widget {
    background: rgba(158, 204, 171, 0.2)!important;
}
.read-mode div#post {
    background: rgba(158, 204, 171, 0.2)!important;
}
    
[data-theme="dark"]
.read-mode #aside-content .card-widget {
    background: rgba(0, 0, 0, 0.5)!important;
    color: #ffffff;
}
[data-theme="dark"]  
.read-mode div#post {
    background: rgba(0, 0, 0, 0.5)!important;
    color: #ffffff;
}

/* 标题居中 */
#article-container.post-content h1 {
    text-align: center;
}

/* 粗体 */
b, strong {
    color: #26D;
}

/* 间距 */
#article-container p {
    margin: 0 0 10px;
    line-height: 24px;
}

/* H2 缩进 */
#article-container.post-content h2 {
    padding-left: 20px;
}

/* 字体 */
#article-container p {
    color: #000;
    font-family: "HarmonyOS Sans SC Medium";
}
[data-theme="dark"]
#article-container p {
    color: rgb(255 255 255 / 90%);
}

/*版权卡片美化*/
#post .post-copyright {
    position: relative;
    margin: 2rem 0 0.5rem;
    padding: 1.5rem 0.8rem;
    border: 8px solid #f6f6f6; /*卡片边框*/
    border-radius: 20px; /*边框圆角*/
}
#post .post-copyright:before {
    position: absolute;
    top: -1.9rem; /*C位置*/
    color: #49b1f540; /*C颜色*/
    font-size: 6rem; /*C大小*/
}

/*文章分页卡片美化*/
#pagination .prev-post a, #pagination .next-post a {
    border-style: ridge;
    border-width: 8px;
    border-color: #d2d2d2;
}

/* 引用 */
blockquote {
    font-family: "HarmonyOS Sans SC Medium";
}
/* 无序列表 */
#article-container.post-content ul > li {
    font-family: "HarmonyOS Sans SC Medium";
}
/* 有序列表 */
#article-container ol li, #article-container ul li {
    font-family: "HarmonyOS Sans SC Medium";
}
/* 目录 */
#aside-content #card-toc {
    font-family: "PingFang SC";
}
/* 侧边栏 */
#aside-content .card-widget {
    font-family: "HarmonyOS Sans SC Medium";
}
/* 首页卡片 */
#recent-posts > .recent-post-item {
    font-family: "HarmonyOS Sans SC Medium";
}
/* 分类页面 */
div#page {
    font-family: "HarmonyOS Sans SC Medium";
}
div#category {
    font-family: "HarmonyOS Sans SC Medium";
}
/* 归档页面 */
div#archive {
    font-family: "HarmonyOS Sans SC Medium";
}
/* 块注释 */
figure.highlight pre .comment {
    font-family: "HarmonyOS Sans SC Medium";
}