/* 首页文章卡片 */
#recent-posts > .recent-post-item {
    background: rgba(255, 255, 255);
}
[data-theme="dark"]
#recent-posts > .recent-post-item {
    background: rgba(0, 0, 0, 0.4);
}

/* 文章页面正文背景 */
div#post {
    background: rgba(255, 255, 255);
    font-size: 15px;
}
[data-theme="dark"]
div#post {
    background: rgba(0, 0, 0, 0.4);
}

/* 分页页面 */
div#page {
    background: rgba(255, 255, 255);
}
[data-theme="dark"]
div#page {
    background: rgba(0, 0, 0, 0.4);
}

/* 归档页面 */
div#archive {
    background: rgba(255, 255, 255);
}
[data-theme="dark"]
div#archive {
    background: rgba(0, 0, 0, 0.4);
}

/* 标签页面 */
div#tag {
    background: rgba(255, 255, 255);
}
[data-theme="dark"]
div#tag {
    background: rgba(0, 0, 0, 0.4);
}

/* 分类页面 */
div#category {
    background: rgba(255, 255, 255);
}
[data-theme="dark"]
div#category {
    background: rgba(0, 0, 0, 0.4);
}

/* 页脚透明 */
/* #footer {
    background: transparent!important;
} */

/* 头图遮罩层透明 */
#page-header::before{
    background: transparent!important;
}


.read-mode #aside-content .card-widget {
    background: rgba(158, 204, 171, 0.2)!important;
}
.read-mode div#post {
    background: rgba(158, 204, 171, 0.2)!important;
}
    
[data-theme="dark"]
.read-mode #aside-content .card-widget {
    background: rgba(0, 0, 0, 0.5)!important;
    color: #ffffff;
}
[data-theme="dark"]  
.read-mode div#post {
    background: rgba(0, 0, 0, 0.5)!important;
    color: #ffffff;
}

/* 标题居中 */
#article-container.post-content h1 {
    text-align: center;
}

/* 粗体 */
b, strong {
    color: #26D;
}

/* 间距 */
#article-container p {
    margin: 0 0 10px;
    line-height: 24px;
}

/* H2 缩进 */
#article-container.post-content h2 {
    padding-left: 20px;
}

/* 字体颜色 */
#article-container p {
    color: #000;
}
[data-theme="dark"]
#article-container p {
    color: rgb(255 255 255 / 90%);
}