@font-face {
    font-family: 'HarmonyOS Sans SC Medium';
    font-display: swap;
    src: url('../font/HarmonyOS_Sans_SC_Medium.woff2') format("woff2");
}

@font-face {
    font-family: 'Cousine-Regular-1';
    font-display: swap;
    src: url('../font/Cousine-Regular-1.woff2') format("woff2");
}