@font-face {
    font-family: 'HarmonyOS Sans SC Medium';
    font-display: swap;
    src: url('../font/HarmonyOS_Sans_SC_Medium.ttf') format("truetype");
}

@font-face {
    font-family: 'KTXP-Booking-Serif';
    font-display: swap;
    src: url('../font/极影毁片文宋-v1.00.ttf') format("truetype");
}

body {
    font-family: 'HarmonyOS Sans SC Medium';
}
